.inputs{
    box-sizing: border-box;
    width: 100%;
    height: 8vh;
    margin-top: 25px;
    border-radius: 50px;
    border-color: #ffffff;
    font-size: 1em;
    background: #26292c;
    color: #ffffff;
    outline: none;
    padding-left: 20px;

    &::placeholder{
        color: #ffffff;
    }
}

.register{
    width: 100%;
    height: 8vh;
    margin-top: 6em;
    margin-bottom:4em;
    border-radius: 50px;
    background: #ff2d04;
    border: none;
    color: #ffffff;
    font-size: 1em;
}