.MyTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    color: #E0E0E0;
}
.size-60px {
    font-size: 60px;
}

.size-30px{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
}
