.MyTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    color: #E0E0E0;
    user-select: none;
}
.size-60px {
    font-size: 60px;
    margin: 0;
}

.size-30px{
    font-size: 30px;
    margin: 0;
    margin-bottom: 0px;
}
